*
{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
html {
  margin: 0;
  padding: 0;
}

body{ 
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the body to IBM Plex Mono */
    background-color: #ffffff00;
    color:#130e0e;
    line-height:1.6; /* Sets the line height for better readability */
    padding: 20px; /* Adds padding around the body content */
    font-size: 16px; /* Sets the base font size */
}

nav{
    color:#050101;
    background-color: rgba(140, 135, 135, 0); /* Adds a semi-transparent dark background to the navigation bar */
    position: sticky; /* Makes the navigation bar stick to the top of the page */
    top: 0; /* Positions the sticky element at the top */
    width: 100%; /* Makes the navigation bar span the full width of the page */
    padding: 10px 0; /* Adds padding to the top and bottom of the navigation bar */
    display: flex;
    gap: 20px; /* Adds space between the navigation links */
    z-index: 1000; /* Ensures the navigation bar stays above other content */
    box-shadow: 0 2px 6px rgba(141, 137, 137, 0.372); /* Adds a subtle shadow for depth */
}
nav a
{
    justify-content: center; /* Centers the navigation links */
  font-family: 'IBM Plex Mono', monospace; /* clean, code-like font */
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  padding-left: 30px;
}
nav a:hover{
    color: #686e6f; /* Changes the link color on hover */
}

header h1{ /*controls title: stephanie xia portfolio*/ 
    font-family: 'Montserrat', sans-serif; /* Sets the font for the main heading */
    font-size: 130px; /* Sets the font size for the main heading */
    color: #343841; /* Sets the color for the main heading */
    text-align: center; /* Centers the main heading */
    padding: 10px 0; /* Adds padding to the top and bottom of the main heading, the 0 is for L R*/
    margin-top: 200px; /* Moves the title down by 60px from the top */
}

.about-paragraph {
    color: rgb(38, 36, 36);
    text-align: left;
    font-family: 'Monospace', sans-serif; /* Sets the font for the about header */
    margin-top: 110px; /* Adds space above the paragraph */
    margin-bottom: 20px; /* Adds space below the paragraph */
    padding: 0px 250px; 
    font-size: 20px;
    line-height: 2; /* Increases space between lines of text */
    letter-spacing: 1px; /* Increases space between letters */
      text-shadow: 2px 2px 5px rgba(0,0,0,0.3);

}

.profile-links-container {
    display: flex; /* Arranges child elements side by side */
    justify-content: center; /* Centers the links horizontally */
    gap: 50px; /* Adds space between the links */
    margin-top: 20px; /* Adds space above the container */
}

.profile-links-container a {
    display: flex; /* Makes each link a flex container */
    flex-direction: column; /* Stacks image and text vertically */
    align-items: center; /* Centers the text under the image */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the profile links container */
    color: #686e6f; /* Sets the color for the profile links */
    text-decoration: none; /* Removes underline from links inside the container */
    margin-top: 60px; /* Adds space above each link */
}

.githubpng:hover, .linkedinpng:hover {
    transform: scale(1.05); /* Slightly enlarges the image on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}


.project-card1 {
  margin-left: 40px;
  width: 45vw; 
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  background-color: #201f229b; /* optional background */
  flex-direction: row; /* stacks images and text vertically */
}

.project-card1:hover{
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Increases shadow on hover for depth */
    transform: translateY(-5px); /* Slightly lifts the card on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and lift effect */
}
.project-proactive-img1 {
  width: 100%;         /* Leave a little space (2% on each side) */
  border-radius: 16px; /* Keep your rounding */
}

.project-proactive-img1:hover {
    transform: scale(1.02); /* Slightly enlarges the image on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.proactive-text1
{
    margin-top: 20px; /* Adds space above the proactive text */
    padding-left:20px; /* Adds space to the left of the proactive text */
    margin-bottom: 40px; /* Adds space below the proactive text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive text */
    color: #b3afaf; /* Sets the color for the proactive text */
    font-size: 23px; /* Sets the font size for the proactive text */
}

.proactive-description1{
    display: block; /* Allows the description to be inline with the text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive description */
    color: #b3afaf; /* Sets the color for the proactive description */
    font-size: 20px; /* Sets the font size for the proactive description */
    padding-left: 20px; /* Adds space to the left of the proactive description */

}

.project-card2 {
  width: 45vw; 
  margin-right: 40px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  background-color: #201f229b; /* optional background */
  flex-direction: row; /* stacks images and text vertically */
}

.project-card2:hover{
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Increases shadow on hover for depth */
    transform: translateY(-5px); /* Slightly lifts the card on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and lift effect */
}
.project-proactive-img2 {
  width: 100%;         /* Leave a little space (2% on each side) */
  border-radius: 16px; /* Keep your rounding */
}

.project-proactive-img2:hover {
    transform: scale(1.02); /* Slightly enlarges the image on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.proactive-text2{
    margin-top: 20px; /* Adds space above the proactive text */
    padding-left:20px; /* Adds space to the left of the proactive text */
    margin-bottom: 40px; /* Adds space below the proactive text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive text */
    color: #b3afaf; /* Sets the color for the proactive text */
    font-size: 23px; /* Sets the font size for the proactive text */
}

.proactive-description2{
    display: block; /* Allows the description to be inline with the text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive description */
    color: #b3afaf; /* Sets the color for the proactive description */
    font-size: 20px; /* Sets the font size for the proactive description */
    padding-left: 20px; /* Adds space to the left of the proactive description */
}

.projects-all
{
  display: flex;            /* Put children side by side */
  flex-wrap: wrap;          /* Allow wrapping on smaller screens */
  gap: 1.5rem;              /* Space between the two cards */
  justify-content: space-between; /* Optional: adjust alignment */
}

.project-card3 {
  width: 45vw; 
  height: auto;
  margin-left: 40px; /* Adds space to the left of the project card */
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  background-color: #201f229b; /* optional background */
  flex-direction: row; /* stacks images and text vertically */
}

.project-card3:hover{
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Increases shadow on hover for depth */
    transform: translateY(-5px); /* Slightly lifts the card on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and lift effect */
}
.project-proactive-img3{
  width: 100%;         /* Leave a little space (2% on each side) */
  border-radius: 16px; /* Keep your rounding */
}

.project-proactive-img3:hover {
    transform: scale(1.02); /* Slightly enlarges the image on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.proactive-text3{
    margin-top: 20px; /* Adds space above the proactive text */
    padding-left:20px; /* Adds space to the left of the proactive text */
    margin-bottom: 40px; /* Adds space below the proactive text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive text */
    color: #b3afaf; /* Sets the color for the proactive text */
    font-size: 23px; /* Sets the font size for the proactive text */
}

.proactive-description3{
    display: block; /* Allows the description to be inline with the text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive description */
    color: #b3afaf; /* Sets the color for the proactive description */
    font-size: 20px; /* Sets the font size for the proactive description */
    padding-left: 20px; /* Adds space to the left of the proactive description */
}

.project-card4 {
  width: 45vw; 
  margin-right: 40px; /* Adds space to the right of the project card */
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  background-color: #201f229b; /* optional background */
  flex-direction: row; /* stacks images and text vertically */
}

.project-card4:hover{
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Increases shadow on hover for depth */
    transform: translateY(-5px); /* Slightly lifts the card on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and lift effect */
}
.project-proactive-img4 {
  width: 100%;         /* Leave a little space (2% on each side) */
  border-radius: 16px; /* Keep your rounding */
}

.project-proactive-img4:hover {
    transform: scale(1.02); /* Slightly enlarges the image on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.proactive-text4{
    margin-top: 20px; /* Adds space above the proactive text */
    padding-left:20px; /* Adds space to the left of the proactive text */
    margin-bottom: 40px; /* Adds space below the proactive text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive text */
    color: #b3afaf; /* Sets the color for the proactive text */
    font-size: 23px; /* Sets the font size for the proactive text */
}

.proactive-description4{
    display: block; /* Allows the description to be inline with the text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive description */
    color: #b3afaf; /* Sets the color for the proactive description */
    font-size: 20px; /* Sets the font size for the proactive description */
    padding-left: 20px; /* Adds space to the left of the proactive description */
}

.project-card5{
  width: 45vw; 
  margin-left: 40px;
  height: fix; 
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  background-color: #201f229b; /* optional background */
  flex-direction: row; /* stacks images and text vertically */
}

.project-card5:hover{
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Increases shadow on hover for depth */
    transform: translateY(-5px); /* Slightly lifts the card on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and lift effect */
}
.project-proactive-img5{
  width: 100%;         /* Leave a little space (2% on each side) */
  border-radius: 16px; /* Keep your rounding */
}

.project-proactive-img5:hover {
    transform: scale(1.02); /* Slightly enlarges the image on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.proactive-text5{
    margin-top: 20px; /* Adds space above the proactive text */
    padding-left:20px; /* Adds space to the left of the proactive text */
    margin-bottom: 40px; /* Adds space below the proactive text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive text */
    color: #b3afaf; /* Sets the color for the proactive text */
    font-size: 23px; /* Sets the font size for the proactive text */
}

.proactive-description5{
    display: block; /* Allows the description to be inline with the text */
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the proactive description */
    color: #b3afaf; /* Sets the color for the proactive description */
    font-size: 20px; /* Sets the font size for the proactive description */
    padding-left: 20px; /* Adds space to the left of the proactive description */
}

.contact-info{
      font-family: 'IBM Plex Mono', sans-serif; /* Uses a clean, readable font */

}
.name-label, .email-label, .message-label {
    font-family: 'IBM Plex Mono', sans-serif; /* Uses a clean, readable font */
    color: #47463e; /* Sets the color for the labels */
    font-size: 18px; /* Sets the font size for the labels */
    margin-left: 30px; /* Adds space to the left of the labels */
}

input[type="text"],
input[type="email"],
textarea {
    margin-left: 30px; /* Adds space to the left of the input fields */
    width: 50%; /* Makes the input fields take the full width of the container */
    padding: 10px; /* Adds padding inside the input fields */
    padding-left: 15px; /* Adds space to the left of the input fields */
    margin-bottom: 15px; /* Adds space below each input field */
    border: 1px solid #ccc; /* Adds a light gray border around the input fields */
    border-radius: 4px; /* Rounds the corners of the input fields */
    font-family: 'IBM Plex Mono', sans-serif; /* Uses a clean, readable font */
    color: #150e0e; /* Sets the text color for the input fields */
    display: flex; /* Allows the input fields to be flexible */
    flex-direction:collumn; /* Stacks the labels and input fields vertically */
}

textarea{
    height: 140px; /* Sets a fixed height for the textarea */
    resize: vertical; /* Allows the user to resize the textarea vertically */
    color: #b3afaf; /* Sets the text color for the textarea */}


button[type="submit"] {
    margin-left: 30px; /* Adds space to the left of the submit button */
    background-color: #656869; /* Sets the background color for the submit button */
    color: #ffffff; /* Sets the text color for the submit button */
    padding: 10px 20px; /* Adds padding inside the button */
    border: none; /* Removes the default border */
    border-radius: 4px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    font-family: 'IBM Plex Mono', sans-serif; /* Uses a clean, readable font */
}
button[type="submit"]:hover {
    background-color: #0080ff; /* Changes the background color on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.skills1
{
    height:auto; /* Allows the skills section to take the full height of the container */
    width: auto; /* Allows the skills section to take the full width of the container */
    padding: 3%;
    text-align: center; /* Centers the skills section */
    flex-wrap: wrap;
}

.lan1, .lan3, .lan4, .lan5 {
    display: incline-block; /* Aligns the images horizontally */
    margin-right: 40px; /* Adds space between the images */
}
.lan2 {
    display: incline-block; /* Aligns the images horizontally */
    margin-right: 15px; /* Adds space between the images */
}

.skills-header, .blog-header, .contact-header, .projects-header
{
    font-family: 'Montserrat', sans-serif; /* Sets the font for the about header */
    font-size: 70px; /* Sets the font size for the about header */
    color: #2b2a2a; /* Sets the color for the about header */
    padding-left: 20px;
}
.contact-header
{
    padding-top: 20px;
}

.divider
{
    margin-top: 30px; /* Adds space above the divider */
    margin-bottom: 10px; /* Adds space below the divider */
}

.blog1 {
    margin-top: 30px; /* Adds space above the blog card */
    margin-bottom: 30px; /* Adds space below the blog card */
    margin-left: 40px; /* Adds space to the left of the blog card */
  width: 92vw; 
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  background-color: #c8e4ff9b; /* optional background */


display: grid;
  grid-template-columns: 1fr auto; /* text takes more space, image takes just what it needs */
  align-items: start;
  gap: 40px; /* space between text and image */
}
.blog1:hover{
    box-shadow: 0 8px 32px rgba(242, 240, 240, 0.2); /* Increases shadow on hover for depth */
    transform: translateY(-5px); /* Slightly lifts the card on hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and lift effect */
}
.blog1-name
{
    font-family: 'monospace'; /* Sets the font for the blog name */
    color: #282727; /* Sets the color for the blog name */
    font-size: 25px; /* Sets the font size for the blog name */
    padding-top: 20px; /* Adds space above the blog name */
    padding-left: 30px; /* Adds space to the left of the blog name */

}
.blog1-date
{
    color: #5b5656; /* Sets the color for the blog date */
    font-size: 15px; /* Sets the font size for the blog date */
    padding-left: 30px; /* Adds space to the left of the blog date */
}
.blog1-desc
{
    width: 50vw;
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the blog description */
    color: #5a5656; /* Sets the color for the blog description */
    font-size: 20px; /* Sets the font size for the blog description */
    padding-left: 30px; /* Adds space to the left of the blog description */
    padding-top: 20px;
    padding-bottom: 20px; /* Adds space below the blog description */
}

.blog1-img{
    display: flex;
  justify-content: flex-end;
}   

.contact-info
{
    padding-left: 50px;
    background-color: #c8e4ff9b;
    display: grid;
  grid-template-columns: 1fr 40vw; /* text takes more space, image takes just what it needs */
  align-items: start;
  padding-bottom: 10px;
}
.contacts
{
    padding-left: 30px;
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the contact description */
    padding-top: 4px;
    color: rgb(59, 50, 50);
}

.contact-desc
{
    font-family: 'IBM Plex Mono', monospace; /* Sets the font for the contact description */
    color: #47463e; /* Sets the color for the contact description */
    font-size: 15px; /* Sets the font size for the contact description */
    padding-top: 260px; /* Adds space above the contact description */
    padding-left: 30px;
    padding-bottom: 10px;
}
 

.background-img
{
  max-width: 100vw; /* or whatever your site's width is */
  background-size: cover;
  background-position: center top;
}

.nav-name
{
    font-family: monospace; /* Sets the font for the navigation name */
    justify-content: left;
    font-size: 17px;
    padding-left: 10px; /* Adds space to the left of the navigation name */
}
.nav-subdesc
{
    display: block;
    padding-right: 250px;
    padding-top: 5px; /* Adds space above the navigation sub-description */
    clear: both; /* Ensures the sub-description is below the navigation links */
    font-family: monospace; /* Sets the font for the navigation sub-description */
    font-size: 12px !important;
      margin: 0;                       /* Remove default browser margin */

}
.skills-all
{
    margin-top: 100px; /* Adds space above the skills section */
}
.skills1
{
    margin-top: 40px;
    margin-left: 180px;
    margin-right: 180px;
    border: 4px solid rgb(217, 212, 212);
    border-collapse: collapse;
    margin-bottom: 40px;
}
.skills-header
{
text-align: center}